<script src="./assets/js/car.js"></script>
<div class="mainHolder">
     <div class="carTitle">{{year}} {{maufacturere}} {{make}}</div>
     <div class="section">
          <div class="topicHeader d-inline-block">Odometer</div>
          <div class="topicVal d-inline-block">{{milage}}</div>
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">Vin Number</div>
          <div class="topicVal d-inline-block">{{vinNumber}}</div>
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">License Plate</div>
          <div class="topicVal d-inline-block">{{liscensPlate}}</div>
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">Color</div>
          <div class="topicVal d-inline-block">{{color}}</div>
     </div>
     <div class="subheader">Fuel Information:</div>
     <div class="section">
          <div class="topicHeader d-inline-block">Fule Type</div>
          <div class="topicVal d-inline-block">{{fuleType}}</div>
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">Tank Capacity</div>
          <div class="topicVal d-inline-block">{{fuelTank}}</div>
     </div>
     <div class="subheader">Tires:</div>
     <div class="section">
          <div class="topicHeader d-inline-block">Tire Size</div>
          <div class="topicVal d-inline-block">{{tireSize}}</div>
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">Air Pressure:</div>
          <div class="topicVal d-inline-block">{{airPressure}}</div>
     </div>
     <div class="subheader">Wiper Blades:</div>
     <div class="section">
          <div class="topicHeader d-inline-block">Drive Side:</div>
          <div class="topicVal d-inline-block">{{wiperDriver}}</div>
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">Passenger Side:</div>
          <div class="topicVal d-inline-block">{{wiperPassenger}}</div>
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">Rear:</div>
          <div class="topicVal d-inline-block">{{wiperRear}}</div>
     </div>
</div>
<style>
     .mainHolder{
          padding:12px;
     }
     .mainHolder .section{
          display: flex;
          justify-content: space-between;
          margin-bottom:12px;
     }
     
     .subheader{
          font-size:18px;
          font-weight:bold;
     }
</style>