<script src="/assets/js/cars.js"></script>
<a href="/editCar"><img src=""/>Add New Car</a>
<div>
     {{#each car}}
          <div class="lineItem"  data-id="{{id}}">
               <h4>{{year}} {{Manufacturer.manufacturerName}} {{Make.makeName}}</h4>
               <div class ='d-flex justify-content-between aCar'>
                    <div>Mileage: {{curMileage}}</div>
                    <div>Trim: {{trim}}</div>
               </div>
          </div>
     {{/each}}
</div>