<script src="/assets/js/editCar.js"></script>
<script src="/assets/js/modal.js"></script>
<div class="mainHolder">
     <form action="/api/addNewCar" method="POST">
     <div class="section">
          <div class="topicHeader d-inline-block">Year</div>
          <input type="number" name="year" required min="1920" max="2030">
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">Manufacturer</div>
          <select name="manufacturer" id="manufacturer" required >
               <option value="0">Select a Manufacturer</option>
               {{#each manufacturer}}
                    <option value={{id}}>{{manufacturerName}}</option>
               {{/each}}
          </select>
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">Make</div>
          <select name="make" id="make" required >
               <option value="0">Select a Model</option>
               {{#each make}}
                    <option value={{id}}>{{make}}</option>
               {{/each}}
          </select>
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">Odometer</div>
          <input type="number" name="curMileage" value="{{#if curMilage}}{{formatNumber curMilage}}{{/if}}">
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">Vin Number</div>
          <input type="text" name="vin">
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">License Plate</div>
          <input type="text" name="liscensPlate">
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">Trim</div>
          <input type="text" name="trim">
     </div>
     <div class="subheader">Fuel Information:</div>
     <div class="section">
          <div class="topicHeader d-inline-block">Fuel Type</div>
          <input type="text" name="fuelType">
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">Tank Capacity</div>
          <input type="number" name="fuelTank">
     </div>
     <div class="subheader">Tires:</div>
     <div class="section">
          <div class="topicHeader d-inline-block">Tire Size</div>
          <input type="text" name="tireSize">
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">Air Pressure:</div>
          <input type="number" name="tirePSI">
     </div>
     <div class="subheader">Wiper Blades:</div>
     <div class="section">
          <div class="topicHeader d-inline-block">Drive Side</div>
          <input type="number" name="wiperDriver">
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">Passenger Side</div>
          <input type="number" name="wiperPass">
     </div>
     <div class="section">
          <div class="topicHeader d-inline-block">Rear</div>
          <input type="number" name="wiperRear">
     </div>
     
     <button type="submit" class="btn btn-primary" id="btnAddNew">Save</button>
     <button type="submit" class="btn btn-danger ml-2" id="btnCancel">Cancel</button>
</div>
</form>
<style>
     .mainHolder{
          padding:12px;
     }
     .mainHolder .section{
          display: flex;
          justify-content: space-between;
          margin-bottom:12px;
     }
     
     .subheader{
          font-size:18px;
          font-weight:bold;
     }
</style>  
