<p>{{title}}</p>
<script type="text/javascript" src="/assets/js/fuelLogic.js"></script>

<form>
     <div class="form-group" id = "fuelEntry">
          <label for="Date">Date: </label>
          <input type="text" class="form-control" id="date" aria-describedby="calendar" placeholder="Date"
               value="{{#if fuels.purchaseDate}}{{#intl locales="en-US"}}{{formatDate fuels.purchaseDate units="day" units="month" units="year"}}{{/intl}}{{/if}}">
                
     </div>
     <div class="form-group">
          <label for="Odometer">Odometer: </label>
          <input type="text" class="form-control" id="odometer" placeholder="Current Mileage" value="{{fuels.odometer}}">
     </div>
     <div class="form-group">
          <label for="Gallons">Gallons: </label>
          <input type="number" class="form-control" id="gallons" placeholder="Gallons" value="{{fuels.gallon}}">
     </div>
     <div class="form-group">
          <label for="Price Per Gallon">$ per Gallon: </label>
          <input type="text" class="form-control" id="price" aria-describedby="dollar amount" placeholder="Price per Gallon"
               value={{fuels.pricePerGallon }} >

     </div>
     <div class="form-group">
          <label for="exampleInputPassword1">Fuel Grade: </label>
          <input type="number" class="form-control" id="fuelGrade" placeholder="Fuel Grade" value="{{fuels.mpg}}">
     </div>
     <div class="form-group">
          <label for="exampleInputPassword1">Gas Station</label>
          <input type="text" class="form-control" id="location" placeholder="Gas Station" value="{{fuels.gasStation}}">
     </div>
     <button type="submit" class="btn btn-primary" id="fuelSubmit">Submit</button>
</form>
