<p>{{title}}</p>
<script type="text/javascript" src="/assets/js/serviceLogic.js"></script>
<form>
     <div class="form-group">
          <label for="Input Date">Date: </label>
          <input type="text" class="form-control" id="date" aria-describedby="calendar" placeholder="Date"
               value="{{#if service.serviceDate}}{{#intl locales="en-US"}}{{formatDate service.serviceDate units="day" units="month" units="year"}}{{/intl}}{{/if}}">
     </div>
     <div class="form-group">
          <label for="Input Shop">Shop: </label>
          <input type="text" class="form-control" id="shop" placeholder="Location" value="{{service.shop}}">
     </div>
     <div class="form-group">
          <label for=" input cost">Cost: </label>
          <input type="text" class="form-control" id="cost" placeholder="Price" value="{{service.price}}">
     </div>
     <div class="form-group">
          <label for="Items Done">Items done: </label>
     </div>
     {{#each servicetype}}
          <div class="input-group mb-3">
               <div class="input-group-prepend">
                    <div class="input-group-text">
                         <input type="checkbox" data-id="{{id}}" name="{{id}}"
                              aria-label="Checkbox for following text input" value="checked">
                    </div>
               </div>
               <input type="text" class="form-control" id="serviceName" aria-label="Text input with radio button"
                    placeholder="{{serviceName}}">
          </div>
     {{/each}}
     <div class="col text-center">
     <button type="submit" class="btn btn-primary mb-5" id="serviceSubmit">Submit</button>
     </div>
</form>