<script type="text/javascript" src="/assets/js/serviceLogic.js"></script>
<a href="service/0"><img src=""/>Add New Service</a>
<div>
     {{#each services}}
          <div class="lineItem" data-id="{{id}}">
               <h4>{{#intl locales="en-US"}}{{formatDate serviceDate units="day" units="month" units="year"}}{{/intl}}</h4>
               <div class="d-flex justify-content-between aCar">
                    <div>Service: {{serviceName}}</div>
                    <div>Shop: {{shop}}</div>
                    <div>Price: ${{formatNumber price}}</div>
               </div>
          </div>
     {{/each}}
</div>
